body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #0051d3; /* Dark blue background */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo img {
    height: 40px; /* Adjust the height as needed */
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.auth-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-left: 15px;
}

.auth-links a:hover,
.nav-links a:hover,
.enterprise-sales {
    color: #ff9900; /* Hover color for links */
}

.enterprise-sales {
    background-color: #002d72; /* Blue background for "Enterprise sales" button */
    padding: 5px 10px;
    border-radius: 5px;
}

.enterprise-sales:hover {
    background-color: #ff9900; /* Hover background color for "Enterprise sales" button */
    color: white;
}
