* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif; 
    
}

.container {
    background-color: #23424A;
    padding: 10rem 5rem; 
    margin: 0 auto;
}

.content {
    width: 80%;
    max-width: 750px;
    /* border: 2px solid black; */
}

h1,
p,
button {
    color: white;
    margin: 1rem 0;
}

h1 {
    font-size: 2rem;
}

button {
    background-color: #00ffff;
    color: black;
    padding: .5rem 1rem;
    border-radius: 22px;
}

.container__text {
    width: 70%;
    /* border: 2px solid red; */
}

li{
    list-style: none;
    margin-right: 2rem;

}
ul{
    display: flex;
}
.upper{
    background-color: #284e57;
    padding: 0rem 5rem;
}