* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 18px;
}
.navigation{
    background-color:#ede8d7 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}
.firstul{
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
.secondul{
    display: flex;
}
li{
    color: rgb(35, 32, 32);
    margin-right: 2rem;
    font-size: 1.3rem;
    list-style:none;
    cursor:grab;
}
/* Navigation ends here */

.top {
    background-color: #F3EED9;
    padding: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;

}


.top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1128px;
    justify-content: center;
    width: 80%;

}

.top-content__first {
    font-size: 1rem;
    color: #824936;
    font-family: Roboto Light;

}

.top-content__second {
    font-size: 3rem;
    color: #824936;
    font-family: Playfair Display Black;
}

/* Section starts here */
h2{
   display: flex;
   justify-content: center;
}
.section1__first
{
    /* Playfair Display Black font-size: 36px; */
    font-family: Playfair Display Black;
    font-size: 2rem;
    color: #824936;     
}
.section1__section{
    display: flex;
    justify-content: space-evenly;
}

.__section--section1{
    width: 30%;
    font-family: Roboto Regular;
    font-size: 1.1rem;
    margin: 1rem 0;
}

.__section--section2{
    width: 30%;
    font-family: Roboto Regular;
    font-size:1.1rem ;
    margin: 1rem 0;
}

.section1{
    margin-top: 2rem;
}

/* Section2 starts here */

.section2{
    background-color: #222C2A;
    margin-top: 6rem;
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;

}

.section2__left{
    width: 25%;
    padding: 0 2rem;
}

.h3_1{
    color: white;
    margin-bottom: 1rem;
}

.section2__left--p1{
    color: white;
    /* width: 20%; */
    font-family: Roboto Regular;
    font-size:1.1rem ;
   
}

.img1{
    max-width: 100%;
}

/* Section3 starts here */

.section3{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color:#824936;
    padding: 2rem;

}
.section3__right{
    width: 25%;
    margin-top: 1rem;
}

.h3_2{
    color: white;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.section3__right{
    padding: 0 2rem;
}

.section3__right--p2{
    color: white;
    font-family: Roboto Regular;
    font-size:1.1rem ;

   
}